USE CUWebinarsMigrator
go

DELETE CUWebinarsClean.dbo.Options WHERE Type = 'additional_location'
--SELECT * FROM CUWebinars.dbo.RegType 
--DELETE CUWebinars.dbo.RegType WHERE RegTypeLabel = 'Additional Location(s)'
    EXEC MigrateInstitution
    PRINT 'ends: MigrateInstitution'
    EXEC MigrateWebUser 
    PRINT 'ends: MigrateWebUser'
    EXEC MigrateAffiliate
    PRINT 'ends: MigrateAffiliate'
    EXEC MigrateRegTypes
    PRINT 'ends: MigrateRegTypes'
    EXEC [dbo].[MigrateRegTypesGroups]
    PRINT 'ends: MigrateRegTypesGroups'
    EXEC MigrateRegTypesXref 
    PRINT 'ends: MigrateRegTypesXref'
    EXEC MigratePresenter 
    PRINT 'ends: MigratePresenter'
    EXEC MigrateWebinar 
    PRINT 'ends: MigrateWebinar'
    EXEC MigrateRegTypesGroupsXref 
    PRINT 'ends: MigrateOptionsGroupsXref'
    EXEC MigrateTopic 
    PRINT 'ends: MigrateTopic'
    EXEC MigrateWebinarTopicXref 
    PRINT 'ends: MigrateWebinarTopicXref'
    EXEC MigrateWebinarFile 
    PRINT 'ends: MigrateWebinarFile'
    EXEC MigrateAddresses 
    PRINT 'ends: MigrateAddresses'

	
UPDATE CUWebinars.dbo.Webinar SET WebinarKey = 739905466 WHERE idWebinar = 701
USE CUWebinars
go
DBCC CHECKIDENT ([Order], RESEED, 2855)