<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'appInsightsBW' in resource group 'Default-Web-EastUS' -->
  <InstrumentationKey>a60d4acc-728d-43e9-9e89-3e6364a07861</InstrumentationKey>
</ApplicationInsights>