<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections>
    <section xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/section[@name='glimpse'])" />
  </configSections>

  <connectionStrings>
    <add name="MembershipReboot" connectionString="Server=tcp:nt2j4x3hvq.database.windows.net,1433;Database=cuwebinars33_;User ID=TTSOp@nt2j4x3hvq;Password=HXm88WIX;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DefaultConnection" connectionString="Server=tcp:nt2j4x3hvq.database.windows.net,1433;Database=cuwebinars33_;User ID=TTSOp@nt2j4x3hvq;Password=HXm88WIX;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LoggerConnection" connectionString="Server=tcp:nt2j4x3hvq.database.windows.net,1433;Database=cuwebinars33_;User ID=TTSOp@nt2j4x3hvq;Password=HXm88WIX;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LegacyConnection" connectionString="Data Source=216.86.144.79;Initial Catalog=ttsWebinars2;Persist Security Info=True;User ID=EventsOp2;Password=this Old Horse22;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>

  <appSettings>
    <add key="NotificationsTesting" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PreserveLoginUrl" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="StorageAccessKey" value="0jaSy5r24CBUwalYkbhpx3ZGku2n+I2GuJRXAwnRjoGHiRnXNpzdgSdTPoSXPrA0PzMlPomSznukaVqfeSzThw==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorageAccountName" value="storeforcu" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="Tenant" value="CUWebinars" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantURL" value="CUWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantEmail" value="webinars@cuwebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantLogo" value="https://www.CUWebinars.com/images/logoCU.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantPrefix" value="CU-" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantURL" value="www.CUWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UseAzureWebjobs" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="webinars@cuwebinars.com"  xdt:Locator="XPath(/configuration/system.net/mailSettings/smtp)" xdt:Transform="Replace">
        <network defaultCredentials="false"
                 enableSsl="true"
                 host="smtp.gmail.com"
                 port="587"
                 userName="webinars@cuwebinars.com"
                 password="Lsqo0lrP" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <httpModules>
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web/httpModules/add[@name='Glimpse'])" />
    </httpModules>

    <httpHandlers xdt:Transform="Remove" />

  </system.web>

  <system.webServer>
    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="Canonical HostnameBeta" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(beta\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="https://www.{C:2}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        <rule name="Canonical Hostname" stopProcessing="false">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(v3\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="https://www.{C:2}{REQUEST_URI}" redirectType="Permanent" />
        </rule>

        <rule name="Redirect to https">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="Off"/>
            <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/handlers/add[@name='Glimpse'])" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/modules/add[@name='Glimpse'])" />
    </modules>
  </system.webServer>

  <glimpse xdt:Transform="Remove" xdt:Locator="XPath(/configuration/glimpse)" />
</configuration>