<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="membershipReboot" type="BrockAllen.MembershipReboot.SecuritySettings, BrockAllen.MembershipReboot" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      <section name="membershipReboot" type="BrockAllen.MembershipReboot.SecuritySettings, BrockAllen.MembershipReboot" />
    </sectionGroup>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>

  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" />
    </federationConfiguration>
  </system.identityModel.services>
  <system.identityModel>
    <identityConfiguration>
      <claimsAuthorizationManager type="CUWebinars.Web.Infrastructure.TTSAuthorizationManager, CUWebinars.Web" />
      <securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089">
          <sessionTokenRequirement lifetime="03:00:00"></sessionTokenRequirement>
        </add>
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <membershipReboot requireAccountVerification="false" emailIsUsername="true" multiTenant="true" passwordHashingIterationCount="500" accountLockoutDuration="00:01:00" passwordResetFrequency="0" />
  <connectionStrings>
    <add name="MembershipReboot" connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=MembershipReboot;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection" connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=BankWebinars;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" providerName="System.Data.SqlClient"/>
    <!--<add name="LoggerConnection" connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=TTSDatabase;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" providerName="System.Data.SqlClient"/>-->
    <add name="LegacyConnection" connectionString="Data Source=25.149.190.135;Initial Catalog=ttsWebinars2;Persist Security Info=True;User ID=EventsOp2;Password=this Old Horse22;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="RSSBUS_Affiliate" connectionString="user=cftacs@bankwebinars.com;password=Hiscementisred;Keep Alive=False;"/>
    <add name="RSSBUS_Admin" connectionString="user=registrations@bankwebinars.com;password=azza123A;Keep Alive=False;"/>
    
    <!--<add name="LoggerConnection" connectionString="Data Source=PLAGUIS\SQLSERVER2012;Initial Catalog=TTSDatabase;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=PLAGUIS\SQLSERVER2012;Initial Catalog=BankWebinars;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="MembershipReboot" connectionString="Data Source=PLAGUIS\SQLSERVER2012;Initial Catalog=MembershipReboot;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="LoggerConnection" connectionString="Server=.;Initial Catalog=TTSDatabase;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=BankWebinars;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="MembershipReboot" connectionString="Data Source=.;Initial Catalog=MembershipReboot;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::Portal settings ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    <add key="EmailSendingMode" value="notlive" />
    <!--<add key="site.EmailSendingMode" value="testing" />-->
    <add key="NotificationsTesting" value="false" />
    <!--<add key="site.NotificationsTesting" value="true" />-->
    <add key="RetryCount" value="60" />
    <add key="Tenant" value="BankWebinars" />
    <add key="TenantDomain" value="BankWebinars.com" />
    <add key="TenantEmail" value="registrations@BankWebinars.com" />
    <add key="TenantPrefix" value="BW-" />
    <add key="TenantURL" value="www.BankWebinars.com" />
    <add key="TestEmailAddress" value="bw.steve@ttstrain.com" />
    <add key="TestEmailAddress2" value="cuwtestuser1@gmail.com" />
    <add key="UseAzureWebjobs" value="true" />
    <add key="TenantAppsRollbar" value="viaParse" />
    
    <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: :::::::::::::::: ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
    
    <add key="ClientValidationEnabled" value="true" />
    <!--//is this 'client' as in http? or should it belong to mbr namespace? This is as in unobtrusive js validation. Needs to stay -->

    <!--where wj wait for processing-->
    <add key="CreateUserQueueName" value="tts-mr-createuseraccount-queue" />
    <add key="CcPaymentProcessingUrlKey" value="/home/PayCC" />

    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.route" value="elmah" />

    <add key="GhostRequestRetryLimit" value="5" />
    <add key="GhostRequestTimeout" value="600" />
    <add key="HandoutRepository" value="http://ttsmedia.ttstrain.com/" />

    <add key="log4net.Internal.Debug" value="true"/>

    <add key="PreserveLoginUrl" value="true" />
    
    <add key="RelativeCancelVerificationUrl" value="Account/RegisterCancel/" />
   <add key="RelativeConfirmChangeUrl" value="Account/Confirmed/" />
    <add key="RelativeConfirmPasswordResetUrl" value="Account/PasswordResetConfirm/" />
    <add key="RelativeLoginUrl" value="Account/Login" />
    
   <add key="StorageAccessKey" value="bSn80OjjlrHjgWnRECaZvJyZfnOZ0qZJf61YkscmqOkntG4H6yKq7Czv/zUjOSBZwsaoukiQJbD/8zB1POav3A==" />
    <add key="StorageAccountName" value="storeforbw" />

    <!--<add key="StorageAccessKey" value="0jaSy5r24CBUwalYkbhpx3ZGku2n+I2GuJRXAwnRjoGHiRnXNpzdgSdTPoSXPrA0PzMlPomSznukaVqfeSzThw==" />
    <add key="StorageAccountName" value="storeforcu" />-->

    <add key="TenantLogo" value="http://ttsmedia.ttstrain.com/images/logo_bankwebinars.png" />


    <!--<add key="Tenant" value="CUWebinars" />
    <add key="TenantDomain" value="CUWebinars.com" />
    <add key="TenantEmail" value="webinars@CUWebinars.com" />
    <add key="TenantLogo" value="http://ttsmedia.ttstrain.com/images/logoCU.png" />
    <add key="TenantPrefix" value="CU-" />
    <add key="TenantURL" value="www.CUWebinars.com" />-->

    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    
    <add key="smtp.userName" value="registrations@BankWebinars.com" />
    <add key="smtp.port" value="587" />
    <add key="smtp.password" value="azza123A" />
    <add key="smtp.host" value="smtp.gmail.com" />
    <add key="smtp.defaultCredentials" value="true" />
    <add key="smtp.enableSsl" value="true" />
    
    <add key="WMVRepository" value="http://ttsmedia.ttstrain.com/" />
    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <customErrors mode="Off" />
    <!--<customErrors defaultRedirect="~/Error" mode="RemoteOnly">
			<error statusCode="500" redirect="InternalError.htm" />
			<error statusCode="404" redirect="~/Error/NotFound/" />
		</customErrors>-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="BrockAllen.MembershipReboot.WebHost" />
        <add namespace="CUWebinars.Web.Models" />
        <add namespace="CUWebinars.Web.Services" />
      </namespaces>
    </pages>

    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />

      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
      <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" />-->
    </httpModules>

    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <urlCompression doDynamicCompression="true" dynamicCompressionBeforeCache="false" />

    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
    </staticContent>
    <directoryBrowse enabled="true" />
    <httpErrors existingResponse="PassThrough" />
    <asp scriptErrorSentToBrowser="true" />
    <handlers>
      <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />

      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0" />
      <remove name="SessionAuthenticationModule" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationServer.Caching.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-101.0.0.0" newVersion="101.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.3" newVersion="2.1.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationServer.Caching.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.1.694" newVersion="0.11.1.694" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is 
		being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
  </runtime>
  <!--<dataCacheClients>
		<dataCacheClient name="default">
			<hosts>
				<host name="[Insert Cache EndPoint]" cachePort="22233" />
			</hosts>
			<securityProperties mode="Message">
				<messageSecurity authorizationInfo="[Encrypted ACS token goes here]"></messageSecurity>
			</securityProperties>
		</dataCacheClient>
		<dataCacheClient name="SslEndpoint">
			<hosts>
				<host name="[Insert Cache EndPoint]" cachePort="22243" />
			</hosts>
			<securityProperties mode="Message" sslEnabled="true">
				<messageSecurity authorizationInfo="[Encrypted ACS token goes here]"></messageSecurity>
			</securityProperties>
		</dataCacheClient>
	</dataCacheClients>-->
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>

  <!--<log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="App_Data/Logs/log4net_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %property – %message%newline" />
      </layout>
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        --><!-- can be any pattern you like --><!--
        <conversionPattern value="%date [%thread] %-5level %logger %property – %message%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data,  Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      --><!--http://stackoverflow.com/questions/3192013/adonetappender-stops-working-after-changes-are-made--><!--
      <connectionString value="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=TTSDatabase;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;MultipleActiveResultSets=True;" />
      <commandText value="INSERT INTO BWLog ([Date],[Level],[Message],[Exception], [Logger]) VALUES (@log_date, @log_level, @message, @exception, @logger)" />
      --><!--<connectionString value="Server=.;Initial Catalog=TTSDatabase;Integrated Security=True;MultipleActiveResultSets=True" />--><!--
      --><!--<connectionString value="data source=PLAGUIS\SQLSERVER2012;initial catalog=ttsdatabase;integrated security=true;persist securitany info=True" />
      <commandText value="INSERT INTO BWLog ([Date],[Level],[Message],[Exception], [Logger]) VALUES (@log_date, @log_level, @message, @exception, @logger)" />--><!--
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="TraceAppender" />
    </root>

  </log4net>-->


  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <logging level="Trace" />
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" />
        <add type="Glimpse.Core.Policy.ControlCookiePolicy, Glimpse.Core" />
      </ignoredTypes>
      <contentTypes>
        <add contentType="application/xml" />
        <!-- <clear/> -->
      </contentTypes>
    </runtimePolicies>
    <tabs>
      <ignoredTypes>
        <add type="Glimpse.Core.Tab.Timeline, Glimpse.Core" />
        <add type="Glimpse.AspNet.Tab.Configuration, Glimpse.AspNet" />
        <add type="Glimpse.AspNet.Tab.Server, Glimpse.AspNet" />
      </ignoredTypes>
    </tabs>
  </glimpse>
  <elmah>
    <!--<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />-->
    <!--
				See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
				more information on remote access and securing ELMAH.
		-->
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="LoggerConnection" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />

      </httpHandlers>
      <!-- 
				See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
				more information on using ASP.NET authorization securing ELMAH.
        
			-->
      <authorization>
        <!--<allow roles="admin" />
        <allow roles="dev" />-->
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <!--<defaultProxy enabled="true" />-->
    <defaultProxy>
      <proxy bypassonlocal="false" usesystemdefault="true" />
    </defaultProxy>
    <mailSettings>
      <!--<smtp from="someimportantguy@cuwebinars.com">
      	<network host="localhost" port="25" />
      </smtp>-->
      <!--<smtp deliveryMethod="Network" from="webinars@cuwebinars.com">
        <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" userName="webinars@cuwebinars.com" password="Lsqo0lrP" />
      </smtp>-->
      <!--<smtp deliveryMethod="Network" from="registrations@BankWebinars.com">
        <network defaultCredentials="false"
                 enableSsl="true" host="smtp.gmail.com"
                 port="587"
                 userName="registrations@BankWebinars.com"
                 password="azza123A" />
      </smtp>-->
      <!--<smtp deliveryMethod="Network" from="registrations@ttsregistrations.com">
        <network defaultCredentials="false" enableSsl="true" host="smtp.office365.com" port="587" userName="registrations@ttsregistrations.com" password="fw1s29sZ" />
      </smtp>-->
      <!--<smtp deliveryMethod="SpecifiedPickupDirectory" from="from@address.com">
				<specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\temp\maildrop" />
			</smtp>-->
    </mailSettings>
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
					 before trusting HTTPS certificates.  But this setting tends to not 
					 be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="F:\log4net.txt" />
      </listeners>
    </trace>
    <sources>
      <source name="CUWebinars" switchValue="Error">
        <listeners>
          <add name="DbViaLog4NetMembershipRebootListener" />
          <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="App_Data/Trace/log4net.txt" />
        </listeners>
      </source>
      <source name="MembershipReboot" switchValue="Error">
        <listeners>
          <add name="DbViaLog4NetMembershipRebootListener" />
          <add name="MembershipRebootListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics" />
      <add name="CUWebinarsListener" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="App_Data/Trace/CUWebinars.svclog" traceOutputOptions="Timestamp"></add>
      <add name="MembershipRebootListener" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="App_Data/Trace/MembershipReboot.svclog" traceOutputOptions="Timestamp"></add>
      <add name="DbViaLog4NetMembershipRebootListener" type="CUWebinars.Business.Core.Tracing.Log4NetTracer, CUWebinars.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sharedListeners>
  </system.diagnostics>


</configuration>