<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections>
    <section xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/section[@name='glimpse'])" />
  </configSections>
  
  
  <add name="MembershipReboot"
    connectionString="Server=tcp:y1qylg6yd2.database.windows.net,1433;Database=MembershipReboot;User ID=TTSOp@y1qylg6yd2;Password=..Brass$..;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="DefaultConnection"
    connectionString="Server=tcp:y1qylg6yd2.database.windows.net,1433;Database=CUWebinars;User ID=TTSOp@y1qylg6yd2;Password=..Brass$..;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="LoggerConnection" connectionString="Server=tcp:y1qylg6yd2.database.windows.net,1433;Database=TTSDatabase;User ID=TTSOp@y1qylg6yd2;Password=..Brass$..;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"
            xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender" xdt:Locator="Match(name)">
      <connectionString xdt:Transform="SetAttributes(value)" value="data source=RELEASE-SERVER-NAME;initial catalog=DATABASE-NAME;integrated security=false;persist security info=True;User ID=ID;Password=PASSWORD" />
    </appender>
  </log4net>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false"
								 enableSsl="true"
								 host="smtp.gmail.com"
								 port="587"
								 userName="registrations@bankwebinars.com"
								 password="azza123A"
							 />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <httpModules>
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web/httpModules/add[@name='Glimpse'])" />
    </httpModules>
    
    <httpHandlers xdt:Transform="Remove" />
    
  </system.web>

  <system.webServer>
    <handlers>
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/handlers/add[@name='Glimpse'])" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/modules/add[@name='Glimpse'])" />
    </modules>
  </system.webServer>

  <glimpse xdt:Transform="Remove" xdt:Locator="XPath(/configuration/glimpse)" />
</configuration>
