<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections>
    <section xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/section[@name='glimpse'])" />
  </configSections>

  <connectionStrings>
    <add name="MembershipReboot"
    connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=MembershipReboot;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DefaultConnection"
      connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=BankWebinars;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LoggerConnection"
         connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=TTSDatabase;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" providerName="System.Data.SqlClient"
              xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="NotificationsTesting" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PreserveLoginUrl" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <add key="StorageAccessKey" value="bSn80OjjlrHjgWnRECaZvJyZfnOZ0qZJf61YkscmqOkntG4H6yKq7Czv/zUjOSBZwsaoukiQJbD/8zB1POav3A==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorageAccountName" value="storeforbw" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
    <add key="Tenant" value="BankWebinars" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantDomain" value="BankWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantEmail" value="registrations@BankWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantLogo" value="http://ttsmedia.ttstrain.com/images/logo_bankwebinars.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantPrefix" value="BW-" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantURL" value="www.BankWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UseAzureWebjobs" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
    <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender" xdt:Locator="Match(name)">
      <connectionString xdt:Transform="SetAttributes(value)" value="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=TTSDatabase;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" />
      <commandText xdt:Transform="SetAttributes(value)" value="INSERT INTO BWLog ([Date],[Level],[Message],[Exception], [Logger]) VALUES (@log_date, @log_level, @message, @exception, @logger)" />
    </appender>
  </log4net>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false"
								 enableSsl="true"
								 host="smtp.gmail.com"
								 port="587"
								 userName="registrations@bankwebinars.com"
								 password="azza123A"
							 />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <httpModules>
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web/httpModules/add[@name='Glimpse'])" />
    </httpModules>

    <httpHandlers xdt:Transform="Remove" />

  </system.web>

  <system.webServer>
    <handlers>
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/handlers/add[@name='Glimpse'])" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/modules/add[@name='Glimpse'])" />
    </modules>
  </system.webServer>

  <glimpse xdt:Transform="Remove" xdt:Locator="XPath(/configuration/glimpse)" />
</configuration>