<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".
  -->
  <add name="MembershipReboot"
    connectionString="Server=tcp:y1qylg6yd2.database.windows.net,1433;Database=MembershipReboot;User ID=TTSOp@y1qylg6yd2;Password=..Brass$..;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="DefaultConnection"
    connectionString="Server=tcp:y1qylg6yd2.database.windows.net,1433;Database=CUWebinars;User ID=TTSOp@y1qylg6yd2;Password=..Brass$..;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="LoggerConnection" connectionString="Server=tcp:y1qylg6yd2.database.windows.net,1433;Database=TTSDatabase;User ID=TTSOp@y1qylg6yd2;Password=..Brass$..;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"
            xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <system.net>
    
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network defaultCredentials="false"
								 enableSsl="true"
								 host="smtp.gmail.com"
								 port="587"
								 userName="registrations@bankwebinars.com"
								 password="azza123A"
							 />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
