<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections>
    <section xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/section[@name='glimpse'])" />
  </configSections>

  <connectionStrings>
    <add name="MembershipReboot" connectionString="Data Source=tcp:bw33.database.windows.net,1433;Initial Catalog=BW33_;User Id=BW33Op@bw33;Password=AM69XtlC;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DefaultConnection" connectionString="Data Source=tcp:bw33.database.windows.net,1433;Initial Catalog=BW33_;User Id=BW33Op@bw33;Password=AM69XtlC;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LoggerConnection" connectionString="Data Source=tcp:bw33.database.windows.net,1433;Initial Catalog=BW33_;User Id=BW33Op@bw33;Password=AM69XtlC;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <!--<add name="LegacyConnection" connectionString="Data Source=WIN-K9Q9HP6HQQ2,1433;Initial Catalog=ttsWebinars2;Persist Security Info=True;User ID=EventsOp2;Password=this Old Horse22;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
  </connectionStrings>


  <appSettings>
    <add key="NotificationsTesting" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PreserveLoginUrl" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="StorageAccessKey" value="bSn80OjjlrHjgWnRECaZvJyZfnOZ0qZJf61YkscmqOkntG4H6yKq7Czv/zUjOSBZwsaoukiQJbD/8zB1POav3A==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorageAccountName" value="storeforbw" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="Tenant" value="BankWebinars" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantURL" value="BankWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantEmail" value="registrations@BankWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantLogo" value="https://www.bankwebinars.com/images/logo_bankwebinars.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantPrefix" value="BW-" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantURL" value="www.BankWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UseAzureWebjobs" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>


  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <httpModules>
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web/httpModules/add[@name='Glimpse'])" />
    </httpModules>

    <httpHandlers xdt:Transform="Remove" />

  </system.web>

  <system.webServer>
    <handlers>
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/handlers/add[@name='Glimpse'])" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/modules/add[@name='Glimpse'])" />
    </modules>
  </system.webServer>

  <glimpse xdt:Transform="Remove" xdt:Locator="XPath(/configuration/glimpse)" />
</configuration>