<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections>
    <section xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/section[@name='glimpse'])" />
  </configSections>

  <connectionStrings>
    <add name="MembershipReboot" connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=CUWebinars31;User Id=CUOp@kmow9uloz6;Password=EntRisRcDkI3t4u--;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DefaultConnection" connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=CUWebinars31;User Id=CUOp@kmow9uloz6;Password=EntRisRcDkI3t4u--;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LoggerConnection" connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=CUWebinars31;User Id=CUOp@kmow9uloz6;Password=EntRisRcDkI3t4u--;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LegacyConnection" connectionString="Data Source=216.86.144.79;Initial Catalog=ttsWebinars2;Persist Security Info=True;User ID=EventsOp2;Password=this Old Horse22;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>

  <appSettings>
    <add key="NotificationsTesting" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PreserveLoginUrl" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="StorageAccessKey" value="0jaSy5r24CBUwalYkbhpx3ZGku2n+I2GuJRXAwnRjoGHiRnXNpzdgSdTPoSXPrA0PzMlPomSznukaVqfeSzThw==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorageAccountName" value="storeforcu" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="Tenant" value="CUWebinars" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantDomain" value="CUWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantEmail" value="webinars@cuwebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantLogo" value="http://ttsmedia.ttstrain.com/images/logoCU.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantPrefix" value="CU-" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantURL" value="www.CUWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UseAzureWebjobs" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="webinars@cuwebinars.com"  xdt:Locator="XPath(/configuration/system.net/mailSettings/smtp)" xdt:Transform="Replace">
        <network defaultCredentials="false"
                 enableSsl="true"
                 host="smtp.gmail.com"
                 port="587"
                 userName="webinars@cuwebinars.com"
                 password="Lsqo0lrP" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <httpModules>
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web/httpModules/add[@name='Glimpse'])" />
    </httpModules>

    <httpHandlers xdt:Transform="Remove" />

  </system.web>

  <system.webServer>
    <handlers>
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/handlers/add[@name='Glimpse'])" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/modules/add[@name='Glimpse'])" />
    </modules>
  </system.webServer>

  <glimpse xdt:Transform="Remove" xdt:Locator="XPath(/configuration/glimpse)" />
</configuration>