<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configSections>
    <section xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/section[@name='glimpse'])" />
  </configSections>

  <connectionStrings>
    <add name="MembershipReboot"
    connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=BankWebinars;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DefaultConnection"
      connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=BankWebinars;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LoggerConnection" connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=BankWebinars;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" providerName="System.Data.SqlClient"
              xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LegacyConnection" connectionString="Data Source=216.86.144.79;Initial Catalog=ttsWebinars2;Persist Security Info=True;User ID=EventsOp2;Password=this Old Horse22;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"
              xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>


  <appSettings>
    <add key="NotificationsTesting" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="PreserveLoginUrl" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="StorageAccessKey" value="bSn80OjjlrHjgWnRECaZvJyZfnOZ0qZJf61YkscmqOkntG4H6yKq7Czv/zUjOSBZwsaoukiQJbD/8zB1POav3A==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="StorageAccountName" value="storeforbw" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="Tenant" value="BankWebinars" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantDomain" value="BankWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantEmail" value="registrations@BankWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantLogo" value="http://ttsmedia.ttstrain.com/images/logo_bankwebinars.png" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantPrefix" value="BW-" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TenantURL" value="www.BankWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UseAzureWebjobs" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />


    <add key="smtp.userName" value="registrations@BankWebinars.com" xdt:Transform="Replace" xdt:Locator="Match(key)"  />
    <add key="smtp.port" value="587"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="smtp.password" value="azza123A"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="smtp.host" value="smtp.gmail.com"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="smtp.defaultCredentials" value="true"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="smtp.enableSsl" value="true"  xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="registrations@bankwebinars.com" xdt:Locator="XPath(/configuration/system.net/mailSettings/smtp)" xdt:Transform="Replace">
        <network defaultCredentials="false"
								 enableSsl="true"
								 host="smtp.gmail.com"
								 port="587"
								 userName="registrations@bankwebinars.com"
								 password="azza123A"
							 />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <httpModules>
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web/httpModules/add[@name='Glimpse'])" />
    </httpModules>

    <httpHandlers xdt:Transform="Remove" />

  </system.web>

  <system.webServer>
    <handlers>
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/handlers/add[@name='Glimpse'])" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/modules/add[@name='Glimpse'])" />
    </modules>
  </system.webServer>

  <glimpse xdt:Transform="Remove" xdt:Locator="XPath(/configuration/glimpse)" />
</configuration>