/* styles for validation helpers */
.field-validation-error {
    color: #d44950;
    font-weight: bold;
    list-style-type: none;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #d44950;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #d44950;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
