.usersTable a
{
   cursor: pointer;
}

h5
{
    margin-top: 0;
    margin-bottom: 10px;
}

.resuming
{
    color: red;
}

#createUser
{
    
}

#ChooseWebinar{
    vertical-align: top;
     border: 1px none;

    
    
}