#header
{
	width: 100%;
	background: url(https://ttseast.blob.core.windows.net/images/CUWebinars/header.jpg) -0 0 no-repeat;
} 

/* Begin Structure */
#headerWS {
    height: 156px;
    position: relative;

    background-repeat: repeat-x;
}
/* Begin Header */
#logoWS {
    position: absolute;
    width: 229px;
    height: 134px;
    left: 27px;
    top: 0px;
}
#taglineWS {
    color: #fff;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 264px;
    bottom: 8px;
    z-index: 20;
}
/************************************* HOMEPAGE ************************************************************/
#contactinfoWS { padding-right: 10px; padding-top: 25px; text-align: right; color: #fff;}
#contactinfoWS a { color: #EBEACC; font-weight: bold; }


