
#contactInfo label
{
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-right: 7px;
}

#resetPart h3 {
    text-align: center; 
    background-color: blanchedalmond
}

.icon-question-sign {
    background-position: 14px 14px;
}

.hero-unit h1 {
    color: inherit;
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}

blockquote {
    background: url("") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-style: normal;
    line-height: 110%;
    font-size: small;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.well-large {
    padding: 0;
}

.well-large p {
    padding: 0;
    line-height: 100%;
    font-size: small;
}

#collectAdditionalLocations {
    margin-top: 10px;
}

#UserDetailsModal, #UserDetailsModal .modal-dialog {width:75%;}
@media screen and (min-width: 768px) {
	#UserDetailsModal, #UserDetailsModal  .modal-dialog, #UserDetailsModal .modal-content {width:900px;}
}

.webinarFileDetails {
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    background-color: rgb(255, 250, 232);
    padding: 5px;
    margin: 5px;    
}

#addPasswordDoneMessageContainer {
    min-height: 300px;
    margin-left: 200px;
}

#addPasswordDoneMessageContainer div{
    margin: 10px;
}