#contactInfo label
{
    display: inline-block;
    width: 100px;
    text-align: right;   
}

#resetPart p {
    margin-top: 50px;
}

#resetPart h3 {
    text-align: center; 
    background-color: blanchedalmond
}

.icon-question-sign {
    background-position: 14px 14px;
}

.hero-unit h1 {
    color: inherit;
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}

blockquote {
    background: url("") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-style: normal;
    line-height: 110%;
    font-size: small;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.well-large {
    padding: 0;
}

.well-large p {
    padding: 0;
    line-height: 100%;
    font-size: small;
}