
.subhead {
    border-bottom: 1px solid white;
}

#header {
    background: #baac9e;
    height: 150px; /*Height of top section*/
    border: #999 solid thick;
    border-bottom: thick solid #796761; /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

    #header h1 {
        margin: 0;
        padding-top: 15px;
    }

.bannerLeft {
    width: 600px;
    float: left;
}

.bannerRight {
    /*position: absolute;     display: inline;*/
    margin-top: 5px;
    width: 150px;
    float: right; /*margin-left: 5px;*/
    margin-right: 5px; /*border-left: 2px solid #A7BDD2;*/
}

#loggedDS {
    background: #84716b;
    position: absolute;
}


#content {
    background-color: #84716b;
    padding-left: 20px;
    width: 80%; /*height: 500px;*/
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: #baac9e;
}


.presentersList {
    margin-left: 10px;
    margin-top: 8px;
    color: White;
    font-size: 12px;
}

.holdAccordion {
    background: #84716b;
    width: 98%;
}

#contentwrapper {
    float: left;
    border: thick solid #999;
    width: 100%;
    background: #84716b;
}

#wrap {
    background: #baac9e;
    height: 1000px;
}

#maincontainer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


#footer {
    clear: both;
    width: 100%;
    background: #baac9e;
    color: #FFF;
    text-align: center;
    padding: 4px 0;
}

    #footer a {
        color: #FFFF80;
    }


.input {
    border: 1px solid #006;
    background: #ffc;
}

.button {
    border: 1px solid #006;
    background: #9cf;
}

label {
    display: block;
    width: 150px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}

br {
    clear: left;
}

legend {
    border-top-style: solid;
    border-top-color: Red;
    color: White;
    background: #baac9e;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.ui-accordion-content {
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
}

.ui-accordion-content-active {
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity = 100);
}


.noLink {
    margin-bottom: 1em;
    border-bottom-width: thin;
    border-bottom-style: solid;
}

.gMenu {
    text-align: center;
    font-size: 1.14em;
    line-height: 140%;
}
.itemBody {

}
