    .ReverseHead {
        font-family: Verdana, BitStream vera Sans, Helvetica,Sans-serif;
        text-align: left;
        margin-bottom: 10px;
    }

    .dropdown li {
        font-family: Verdana, BitStream vera Sans,Helvetica,Sans-serif;
    }

    .dropdown-menu > li > a {
        text-align: left;
        font-size: medium;
    }

    .propValue {
        color: black;
    }

        .propValue a {
            color: black;
        }

    .cCon {
    }
    
    table, th, td {
    margin: 0px;
    padding: 0px;
}

.accDate {
    font-size: .95em;
    font-style: italic;
    font-weight: 300;
}


.testimonial {
    color: #2473BD;
    font-family: Georgia;
    font-size: 9pt;
    font-style: italic;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
     line-height: 15px;
    width: 90%;
    float: left;
    text-align: left;
    clear: both;
}

.test-name {
     line-height: 14px;
        color: #10487C;
    font-family: Georgia;
    font-size: 9pt;
    font-style: oblique;
    width: 95%;
    text-align: right;
    padding-right: 15px;
    float: right;
    clear: both;
}

.ReverseHead {
    background: #1F5B93 none no-repeat scroll 0px 0;
    width: 100%;
}

.FrontPageSubHead {
    text-align: center;
    font-family: Georgia;
    color: White;
    font-size: 15pt;
    padding-top: 0px;
    line-height: 33px;
}
/*#upcoming-header
{
    text-align:center;
        background: #1F5B93 none repeat scroll 0 0;
    height: 33px;
    width: 350px;
    color: White;
}*/
.upcoming-text {
    color: #FFFFFF;
    font-family: Georgia;
    padding: 5px;
}

#upcoming-header a {
    border-bottom: 2px solid #5D90BF;
    color: #FFFFFF;
    text-decoration: none;
}

    #upcoming-header a:hover {
        border-bottom: 2px solid #D89304;
        color: #FFFFFF;
    }

#upcoming-sub {
    background: #EAD09B none repeat scroll 0 0;
    height: 30px;
    width: 350px;
    padding-top: 7px;
}

.upcoming-sub {
    margin: 3px;
}



h5 {
    color: #000000;
    font-family: Georgia;
    font-size: 14pt;
    font-weight: 500;
    margin: 0 0 0 10px;
    padding: 0;
}

.box_header {
    font-weight: bold;
}

#box-calendar {
    float: left;
    width: 120px;
}

#box-subs {
    float: left;
    width: 123px;
    margin-left: 65px;
}

#box-mailing {
    margin-left: 5px;
    float: left;
    width: 123px;
}

#box-header {
    width: 133px;
    height: 28px;
    background: #E7F1FA none repeat scroll 0 0;
}

.box-body {
    width: 133px;
    height: 73px;
    background: #d4e6f6;
}

    .box-body a {
        color: #000;
        text-decoration: none;
        border-bottom: 1px solid #7f7f7f;
    }

    .box-body p {
        padding: 0;
        padding-top: 6px;
        padding-left: 8px;
        margin: 0;
        font-size: 8pt;
        font-family: Verdana;
    }

    .box-body a:hover {
        color: #3f83c1;
        border-bottom: 1px solid #d89304;
    }


.welcome {
    color: #000000;
    font-family: Georgia;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}

.welcome-text {
    color: #1C568B;
    font-family: Georgia;
    margin-bottom: 10px;
    text-align: center;
    width: 960px;
}

#on-demand {
    border-bottom: 1px dotted #1D578C;
    border-top: 1px dotted #1D578C;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.navbar .nav > li > a {
    color: #3b3b3d;
    padding: 3px 15px;
}

form {
    margin-bottom: 0;
}

.TopicMenu {
    color: White;
    background: #4487c5;
    padding-top: 5px;
    /*padding: 3px;
            padding-left: 10px;
            padding-right: 10px;*/
    text-align: right;
    border: 0;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

    .TopicMenu tr:last-child td {
        border-bottom: 0px none;
        background: #4487c5;
        padding: 0;
        margin: 0;
        border: 0;
    }


    .TopicMenu tr td {
        margin: 0;
        padding: 0;
        border: 0;
        border-bottom: 0px none;
        background: #4487c5;
    }

    .TopicMenu a {
        margin-right: 5px;
    }
