USE [CUWebinars]
GO
DECLARE @idWebinar INT
SET @idWebinar = 404

SET IDENTITY_INSERT CUWebinars.dbo.Webinar ON
--SELECT [idWebinar]
--      ,[Description]
--      ,[DescriptionLong]
--      ,[ImageUrl]
--      ,[SmallImageUrl]
--      ,[Status]
--      ,[Title]
--      ,[Date]
--      ,[LearnCaption]
--      ,[LearnBody]
--      ,[WhoAttend]
--      ,[Duration]
--      ,[RecordingUrl]
--      ,[idPresenter]
--      ,[WebinarKey]
--      ,[OrganizerKey]
--      ,[OrganizerOAuthKey]
--      ,[ceu]
--      ,[ConnectionInfo]
--      ,[DateCreated]
--      ,[DateChanged]
--      ,[AccessPhone]
--      ,[AccessCodeAttendee]
--      ,[AccessPhonePresenter]
--      ,[AccessCodePresenter]
--      ,[AccessPhoneOrganizer]
--      ,[AccessCodeOrganizer]
--   FROM [dbo].[Webinar]
GO


