
INSERT  INTO [dbo].[WebinarFile]
        ( idWebinar ,
          [FileLocation] ,
          fileDesc
        )
        SELECT  idWebinar ,
                fileLocation + '/' + myFilename,
                fileDesc
        FROM    TTSWebinarsSeeder.dbo.WebinarFile 
PRINT 'inserting topics'    
INSERT  INTO [dbo].[WebinarTopicXref]
        ( idWebinar ,
          idTopic
        )
        SELECT  idWebinar ,
                idTopic
        FROM    TTSWebinarsSeeder.dbo.WebinarTopicXref 
--SET IDENTITY_INSERT dbo.Topic on
--INSERT  INTO [dbo].[Topic]
--        (id, [TopicDescription] ,
--          [TopicHTML] ,
--          [SortOrder]
--        )
--        SELECT id, [TopicDescription] ,
--          [TopicHTML] ,
--          [SortOrder]
--        FROM    TTSWebinarsSeeder.dbo.Topic
--SET IDENTITY_INSERT dbo.Topic off

PRINT '--==========--'
PRINT 'BEGINS WEBINAR CURSOR'
PRINT '--==========--'

DELETE  FROM TTSWebinarsSeeder.dbo.OptionsGroupsXref
WHERE   idOptionGroup = 12

SET IDENTITY_INSERT dbo.Webinar ON
DECLARE @id2Insert INT
DECLARE my_Cursor CURSOR
FOR
SELECT  idWebinar
FROM    TTSWebinarsSeeder.dbo.Webinar
WHERE   status > 1
--SKU is null

OPEN my_Cursor

SET @id2Insert = 1
DECLARE @bAddress INT
DECLARE @sAddress INT
DECLARE @InstitutionExists INT

FETCH NEXT FROM my_Cursor INTO @id2Insert
WHILE @@FETCH_STATUS = 0
    BEGIN
  
        --PRINT '--==========--'
        --PRINT 'Processing WebinarID: ' + CAST(@id2Insert AS VARCHAR)
        --PRINT '--==========--'
		
        SET IDENTITY_INSERT dbo.Webinar ON				


				
        SET IDENTITY_INSERT dbo.Webinar OFF

        --PRINT 'inserted Webinar: ' + CAST(@id2Insert AS VARCHAR)


        INSERT  INTO [dbo].[OptionsGroupsXref]
                ( idWebinar ,
                  idOptionGroup
                  
                )
        VALUES  ( ( SELECT  idwebinar
                    FROM    TTSWebinarsSeeder.dbo.webinar
                    WHERE   idWebinar = @id2Insert
                  ) ,
                  ( SELECT  idOptionGroup
                    FROM    TTSWebinarsSeeder.dbo.OptionsGroupsXref
                    WHERE   idWebinar = @id2Insert
                  )
                )


        --PRINT 'inserted OptionsGroupsXref'
		

       
        FETCH NEXT FROM my_Cursor INTO @id2Insert

    END
CLOSE my_Cursor
DEALLOCATE my_Cursor


PRINT '--==========--'
PRINT 'WEBINAR CURSOR COMPLETED'
PRINT '--==========--'
