
SET NOCOUNT ON

SET IDENTITY_INSERT dbo.HostProperty ON 
INSERT  dbo.HostProperty
        ( idHostProperty, name)
VALUES  ( 1, -- idHost - int
          N'Webinar ID' -- name - nvarchar(50)
          )
INSERT  dbo.HostProperty
        ( idHostProperty, name)
VALUES  ( 2, -- idHost - int
          N'Password'  -- name - nvarchar(50)
          )
INSERT  dbo.HostProperty
        ( idHostProperty, name)
VALUES  ( 3, -- idHost - int
          N'Teleconference'  -- name - nvarchar(50)
          )
SET IDENTITY_INSERT dbo.HostProperty OFF

INSERT  dbo.HostPropertyValue
        ( idHostProperty ,
          idWebinar ,
          value
        )
        SELECT  idHostProperty ,
                idWebinar ,
                value
        FROM    TTSWebinars2_testing.dbo.HostPropertyValue
        WHERE   idWebinar  IN (801, 802, 803, 1471, 1472,
		 1268, 1437, 1285, 1438, 1432, 1433, 1426, 1422, 1416, 1410, 1430, 1358, 1326, 1411, 1415, 1420, 1436, 1412, 1435, 1470 )
		 --= TTSWebinars2_testing.dbo.HostPropertyValue.idWebinar


DELETE  FROM dbo.OptionsXref
WHERE   idOption = 80
DELETE  FROM dbo.OptionsXref
WHERE   idOption = 81
PRINT '--==========--'
PRINT 'BEGINS CU__WEBINAR UPDATE'
PRINT '--==========--'
UPDATE  dbo.Webinar
SET     Status = 1

UPDATE  [dbo].[Webinar]
SET     [Title] = 'Membership, Ownership and Access:  Account Cards and Agreements' ,
        [Date] = '2013-10-30 10:00:00.000' ,
        ceu = '1.25 CE Credits|After attending this webinar, each attendee can receive a certificate of completion for CE Credits.' ,
        [Duration] = 1 ,
        [DateChanged] = GETDATE() ,
        recordingURL = 'LettersCredit1210.wmv' ,
        [Status] = 3 ,
        idPresenter = 10568 ,
        [Description] = '<p>Sometimes the simplest error or typo can create legal ownership, insurance and access issues for your accountholder.  If you do not sign the signature card on a joint account, it is not insured by the NCUSIF.  Or if you add notes to the cards or add signers after the fact, many times you can create liability for your financial institution.  When you open accounts, you are tempted to accommodate accountholder wishes and needs in ways that create liability for your financial institution.  This program could save your credit union thousands of dollars in the future by keeping managers and your member service representatives from creating liability and future losses on the share side of your organization.</p>' ,
        DescriptionLong = '<p>Sometimes the simplest error or typo can create legal ownership, insurance and access issues for your accountholder.  If you do not sign the signature card on a joint account, it is not insured by the NCUSIF.  Or if you add notes to the cards or add signers after the fact, many times you can create liability for your financial institution.  When you open accounts, you are tempted to accommodate accountholder wishes and needs in ways that create liability for your financial institution.  This program could save your credit union thousands of dollars in the future by keeping managers and your member service representatives from creating liability and future losses on the share side of your organization.</p>' ,
        WhoAttend = '<p>New Member Representatives, Tellers, Training Department, Branch Managers, Branch Operations, Call Center Representatives and anyone who works the frontline</p>' ,
        LearnBody = '<ul><li> When small favors for members can cost the financial institution big liability</li><li> Why you cannot give money to someone who has not signed the signature card</li><li> Why checks have to match accounts</li><li> When do you have to retype the account card and when can it go with small changes</li><li> When does it matter which disclosures you give on new accounts?</li><li> Typos, whiteout, initialing and other issues that can cost the credit union big time</li><li> The impact of lack of signatures on your contracts and how that affects insurance</li><li> When failure to read the contract and follow it can be significant—closing accounts, rights of offset, and other issues in the contract</li><li> How to set up signers, power of attorneys and other important fiduciary relationships so you won''t confuse ownership</li><li> Common errors on ownership types and how that can create big problems on deceased accounts</li><li> Account styling and taxpayer identification numbers—at $50 per error, how many can you afford?</li></ul>' ,
        LearnCaption = 'What you will learn:'
WHERE   idWebinar = 801

UPDATE  dbo.OptionsGroupsXref
SET     idOptionGroup = 35
WHERE   idWebinar = 801

UPDATE  [dbo].[Webinar]
SET     [Title] = 'When Your Share Member Dies' ,
        [Date] = '2013-11-13 10:00:00.000' ,
        ceu = '1.25 CE Credits|After attending this webinar, each attendee can receive a certificate of completion for CE Credits.' ,
        [Duration] = 1 ,
        [DateChanged] = GETDATE() ,
        recordingURL = 'CUsharememdies1113.wmv' ,
        [Status] = 3 ,
        idPresenter = 10568 ,
        [Description] = '<p>When your member dies it becomes important to handle accounts in a legally proper way.  Your member''s family is going to have many questions and you will have to have the answers.  In this program we will cover checks, ACH, ownership and membership issues on deceased member accounts.  You will get asked many of the questions below.  Do you have the answers?  If not, then let''s take this journey so that we can provide real membership issues in one of the most important areas of the credit union.  Don''t miss this important program!</p>' ,
        DescriptionLong = '<p>When your member dies it becomes important to handle accounts in a legally proper way.  Your member''s family is going to have many questions and you will have to have the answers.  In this program we will cover checks, ACH, ownership and membership issues on deceased member accounts.  You will get asked many of the questions below.  Do you have the answers?  If not, then let''s take this journey so that we can provide real membership issues in one of the most important areas of the credit union.  Don''t miss this important program!</p>' ,
        WhoAttend = '<p>New Member Representatives, Tellers, Training Department, Branch Managers, Branch Operations, Call Center Representatives and anyone who works the frontline</p>' ,
        LearnBody = '<ul><li> Can write a check out of the member''s account to the funeral home?</li><li> Can deceased members have checks deposited into their existing share account?</li><li> When do you close the decedent''s account?  Who has the authority to act for the deceased member?</li><li> What accounts go through the estate and which do not?</li><li> What type of paperwork do we need? </li><li> What about government payments for deceased members?  ACH? Debit Cards?</li><li> What happens to my spouse''s social security?</li><li> Can I deposit this check that was issued to my spouse before he or she died?</li></ul>' ,
        LearnCaption = 'What you will learn:'
WHERE   idWebinar = 802

UPDATE  dbo.OptionsGroupsXref
SET     idOptionGroup = 35
WHERE   idWebinar = 802

UPDATE  [dbo].[Webinar]
SET     [Title] = 'Opening Accounts for Minor Members' ,
        [Date] = '2013-12-10 10:00:00.000' ,
        ceu = '1.25 CE Credits|After attending this webinar, each attendee can receive a certificate of completion for CE Credits.' ,
        [Duration] = 1 ,
        [DateChanged] = GETDATE() ,
        --[OptionsGroup_Id] = 34 ,
        [Status] = 2 ,
        idPresenter = 10568 ,
        [Description] = '<p>We love our minor members and yet...it is sometimes hard to know what we can do and what we can''t do for those who are under age at our credit union.  It is always disturbing when minors have authority to transact business in the credit union because in many states the minor is not responsible for his or her actions on deposit contracts.  During this program, you will learn how to answer your adult member''s questions on how to set up accounts for grandchildren, for college, for many other reasons.  In this program, we will review the basic legal ownerships you may offer for your minor members.  We will talk about how to transition them into adult accounts.  We will also look at account card set up for minors.</p><p>You will be challenged to look at old practices, how to handle checks, when to give access and so much more in this information packed program.  You won''t want to miss this A to Z on minor accounts.</p>   ' ,
        DescriptionLong = '<p>We love our minor members and yet...it is sometimes hard to know what we can do and what we can''t do for those who are under age at our credit union.  It is always disturbing when minors have authority to transact business in the credit union because in many states the minor is not responsible for his or her actions on deposit contracts.  During this program, you will learn how to answer your adult member''s questions on how to set up accounts for grandchildren, for college, for many other reasons.  In this program, we will review the basic legal ownerships you may offer for your minor members.  We will talk about how to transition them into adult accounts.  We will also look at account card set up for minors.</p><p>You will be challenged to look at old practices, how to handle checks, when to give access and so much more in this information packed program.  You won''t want to miss this A to Z on minor accounts.</p>   ' ,
        WhoAttend = '<p>This informative session is for compliance officers, member service representatives, call center representatives, training, branch operations, branch administration, branch managers, assistant branch managers and anyone working with deceased accounts.</p>' ,
        LearnBody = '<ul><li> Setting up accounts for minors</li><li> All the types of legal ownership for Minors:  UTMA, CESA, Multiple Party Accounts</li><li> What happens and what is the liability when you put minors in checking accounts with debit cards?  What about debit cards on UTMA, Social security accounts and guardianships?</li><li> Can a minor get information on a UTMA, Social Security Account, or Guardianship Account?</li><li> Can a minor negotiate checks made payable to his or herself</li><li> Old styling like "minor by" that can give big headaches</li><li> Can you require two signatures on minor accounts?  Can you let a minor sign a contract?</li><li> What happens when the minor dies on an account?  What happens when the adult passes away?</li><li> Can minors take over the account at a certain age?  </li><li> Hotspots and troubling issues when you open accounts for minors</li></ul>' ,
        LearnCaption = 'What you will learn:'
WHERE   idWebinar = 803

UPDATE  dbo.OptionsGroupsXref
SET     idOptionGroup = 34
WHERE   idWebinar = 803

UPDATE  [dbo].[Webinar]
SET     [Title] = 'How to Build a Personal & Business Work Plan' ,
        [Date] = '2013-12-09 12:00:00.000' ,
        ceu = '1.25 CE Credits|Recommended for 1.25 CE Credit Hours. After attending this webinar, each attendee can receive a Certificate of Attendance for self-reporting of CE Credits.' ,
        [Duration] = 1 ,
        [DateChanged] = GETDATE() ,
        --[OptionsGroup_Id] = 34 ,
        [Status] = 2 ,
        idPresenter = 18308 ,
        [Description] = '<p>This one-hour webinar will help sales managers develop the critical skills needed to recruit, manage and motivate your sales force to increased levels of performance.</p>' ,
        DescriptionLong = '<p><i>What would you attempt if you knew you could not fail?</i></p><p>The problem with most ''business plans'' is that you spend a great deal of time creating them, and once complete, they are shoved into a binder somewhere.&nbsp; What most salespeople really need is a living, working sales plan.&nbsp; This webinar on <i>How to Build a Personal &amp; Business Work Plan</i> will give you just that.&nbsp; It provides you with a working template that contains the essential components to customize in order to build your own sales success work plan.&nbsp; It is designed to be a living, breathing part of your daily sales life, helping you identify, address and overcome sales obstacles so that you can reach your sales goals.</p>' ,
        WhoAttend = '<p>Salespeople in all lines of business, tellers, supervisors and trainers will all benefit by this webinar.</p>' ,
        LearnBody = '<ul><li>Create a personal and business work plan that will help drive desire and commitment for extraordinary success in sales</li><li>Establish and connect your personal goals with your business goals so that you can more consistently reach both </li><li>Implement a series of disciplined processes to help you stay on track and focused on the priority drivers of your business</li></ul><p>This webinar is part of a series of sales specific webinars delivered by Anthony Cole Training Group.</p>' ,
        LearnCaption = 'This one-hour webinar will help you:'
WHERE   idWebinar = 1472

UPDATE  dbo.OptionsGroupsXref
SET     idOptionGroup = 34
WHERE   idWebinar = 1472
UPDATE  dbo.WebinarTopicXref
SET     idTopic = 21
WHERE   idWebinar = 1472

UPDATE  [dbo].[Webinar]
SET     [Title] = 'For Sales Leaders: Precision Coaching' ,
        [Date] = '2013-11-04 12:00:00' ,
        ceu = '1.25 CE Credits|Recommended for 1.25 CE Credit Hours. After attending this webinar, each attendee can receive a Certificate of Attendance for self-reporting of CE Credits.' ,
        [Duration] = 1 ,
        [DateChanged] = GETDATE() ,
        [Status] = 3 ,
        [RecordingUrl] = 'SSPrecisionCoach110413.wmv' ,
        idPresenter = 18308 ,
        [Description] = '<p>Walt Gerano will help participants understand the fundamental shift in thinking that must occur to earn the followership of your team.</p>' ,
        DescriptionLong = '<p>As a sales leader, do you have a systematic, intentional process for coaching your salespeople to success? &nbsp;Most sales managers have evolved from being a ''player'' to a ''coach''. &nbsp;Walt Gerano will help participants understand the fundamental shift in thinking that must occur to earn the followership of your team. &nbsp;In this workshop, coaches of the future will gain a proven and systematic process for more effectively and methodically coaching your salespeople.</p>' ,
        WhoAttend = '<p>Sales managers in all lines of business and trainers will all benefit by this webinar.</p>' ,
        LearnBody = '<br><ul><li>The 5 Keys to Coaching</li><li>How to have an effective coaching discussion for best results</li><li>A coaching drill down technique to uncover obstacles</li><li>A process for setting extraordinary standards to impact sales immediately</li><li>How to implement a Sales Success Formula and 10% Difference process</li></ul>' ,
        LearnCaption = 'Covered Topics:'
WHERE   idWebinar = 1471

UPDATE  dbo.OptionsGroupsXref
SET     idOptionGroup = 35
WHERE   idWebinar = 1471
UPDATE  dbo.WebinarTopicXref
SET     idTopic = 21
WHERE   idWebinar = 1471

UPDATE  webinar
SET     date = '09/06/13' ,
        --OptionsGroup_Id = 35 ,
        STATUS = 3
WHERE   duration = 2
        AND idWebinar IN ( 1268, 1437, 1285, 1438, 1432, 1433, 1426, 1422, 1416, 1410, 1430, 1358, 1326, 1411, 1415, 1420, 1436 )

UPDATE  webinar
SET     date = '09/06/13' ,
        --OptionsGroup_Id = 33 ,
        STATUS = 3
WHERE   duration = 1
        AND idWebinar IN ( 1412, 1435, 1470 )



PRINT '--==========--'
PRINT 'CU__WEBINAR UPDATE COMPLETED'
PRINT '--==========--'
UPDATE  presenter
SET     BiographyLong = '<p><img class="alignleft" src="/content/images/presenters/Shelton.jpg" alt="Photo of Honey Shelton" />Honey Shelton brings the best of both worlds to her speaking and training engagements. She has 25 years of experience as a training and quality improvement consultant for banks and banking associations across the country. Her banking background includes spending three years as Executive Vice President/Chief Retail Banking Officer with First Victoria National Bank. </p><p>Nationally recognized as an outstanding speaker, over a half million bankers have participated in programs Honey has presented. Her depth of knowledge, enthusiasm, and compelling personality has left her lasting mark on InterAction Training, the firm she founded in 1983. </p><p>As a graduate of the School of Bank Marketing from the University of Colorado, she realizes the value of quality education. Honey invests time as a faculty member for banking schools around the country. She is a repeat presenter for most of the state banking associations. </p><p>Honey continues in her own personal pursuit of excellence and is a member of the American Society of Training and Development (ASTD). Currently she is pursuing a self study program on Six Sigma. She has obtained certification in Reality Therapy from the William Glasser Institute as well as certification from the Training and Development Program at Texas A &amp; M. </p>'
WHERE   idUser = 25
UPDATE  presenter
SET     BiographyLong = '<p><img class="alignleft" src="/content/images/presenters/DiCara.jpg" alt="Photo of Vin DiCara" />Vincent DiCara is currently the owner of DiCara Training and Consulting LLC which he established in January of 2013.&nbsp; Formerly, he was the co-owner and founder of Development Finance Training and Consulting, Inc. (DFTC) which he established in 2003.&nbsp; Mr. DiCara has been involved in evaluating the credit needs of businesses for thirty years as a business advocate, lender, credit analyst and trainer.&nbsp; Since 1995, Mr. DiCara has developed and conducted a wide variety of training programs for individuals who work in the financial services industry sector.&nbsp; His training clients include organizations in the credit union, banking, economic development, and community development fields.&nbsp; Mr. DiCara''s training programs have become known for their ability to foster an informal and participatory environment in which students are empowered to learn.</p><p>Mr. DiCara is a graduate of Bowdoin College in Brunswick, Maine and received a Masters Degree in Public Administration from the University of Maine.&nbsp; A native of Boston, Massachusetts, he has been a resident of the State of Maine for the last thirty-eight years.</p>'
WHERE   idUser = 27
UPDATE  presenter
SET     BiographyLong = '<p><img class="alignleft" src="/content/images/presenters/Konarik.jpg" alt="Photo of Patrice Konarik" />Patrice M. Konarik, CFP<sup></sup>, is president and founder of Sunwest Training Corp. located in the Texas Hill Country near San Antonio, Texas. With over 30 years experience in the financial industry, Patrice has focused her expertise on the retirement and new account areas and is currently providing live training and Webinars on these subjects on a nationwide basis. She has a BS from New York''s Binghamton University and earned her Certified Financial Planner<sup>TM</sup> designation in 1990.&nbsp; Many state banking associations and other organizations use her as their main source for training on these complicated topics.&nbsp; Patrice''s upbeat personality and former banking experience easily encourages interaction and questions during the training sessions.</p>'
WHERE   idUser = 28
UPDATE  presenter
SET     BiographyLong = '<p><img class="alignleft" src="/content/images/presenters/McGuinn.jpg" alt="Photo of David P. McGuinn" />David P. McGuinn, President of Safe Deposit Specialists, is a former banker with 45 years of safe deposit experience and is often referred to nationwide as the safe deposit GURU. In all 50 states he has trained over 250,000 safe deposit personnel since 1969, and has served the industry as President of AIB and the American, Texas and Houston Safe Deposit Associations. Dave is a featured speaker for the American Bankers Association''s TV network and has been interviewed by the Wall Street Journal, Banking-New York, Washington Post, Money Magazine, New York Magazine, Associated Press, AARP, National Public Radio, FDIC, CUNA, CNN, CBS, ABC, NBC Nightly News and Court TV on current safe deposit issues. McGuinn has created numerous training programs and his Safe Deposit Policy and Procedures Handbook, Regulatory/Compliance manual, products, brochures and training seminars are now the accepted standard for the financial industry.</p>'
WHERE   idUser = 10567
UPDATE  presenter
SET     BiographyLong = '<p><img class="alignleft" src="/content/images/presenters/Crawford.jpg" alt="Photo of Deborah Crawford" />Deborah Crawford is the President of gettechnical inc. She specializes in compliance and regulations for the deposit side of financial institutions.  Her 20+ year career in banking and training began at Hibernia National Bank. She has been a seminar leader for many state associations and credit union groups across the nation.  She has Bachelors and Masters degrees from Louisiana State University. </p>'
WHERE   idUser = 10568
UPDATE  presenter
SET     BiographyLong = '<p><img class="alignleft" src="/content/images/presenters/Turner.jpg" alt="Photo of J.T. Turner" />The webinar leader is J.T. Turner, who has over 28 years of experience in the lending industry. He has worked as a trainer for the past 22 years, in areas of lending, underwriting, origination, quality control, and personal growth. He is a seminar leader for the Center for Financial Training, a member of the Franklin Speakers Bureau, and past member of the National Speakers Association. J.T. is also a professional actor, with credits in film, TV, radio and on the stage. </p>'
WHERE   idUser = 10577
UPDATE  presenter
SET     BiographyLong = '<p><img class="alignleft" src="/content/images/presenters/tthomas.jpg " alt="Photo of Terri D. Thomas" />Terri D. Thomas is Senior VP and Legal Department Director for the Kansas Bankers Association. Prior to this, she was with "Bankers Choice," a financial consulting firm. Before this, Terri was employed in the financial industry for over twenty-three years in various capacities. Most notably, she served for fourteen years as in-house legal counsel and trust officer for Bank of America and its Kansas predecessors. Receiving her Bachelor of Arts degree from Kansas State University in 1985, Terri continued her education at Washburn University School of Law and obtained her Juris Doctor in 1988.</p><p> Presently, she serves as an adjunct instructor at Washburn University School of Law and the University of Kansas School of Law and is a frequent seminar presenter for financial associations.</p>'
WHERE   idUser = 10609
UPDATE  presenter
SET     BiographyLong = '<p><img class="alignleft" src="/content/images/presenters/gerano.jpg " alt="Photo of Walt Gerano" />Walt Gerano brings with him more than 28 years of financial sales and sales management experience and has been a Sales Development Expert with Anthony Cole Training Group for over 8 years. His webinars are delivered in an entertaining manner and he captures the engagement of his participants with his wit and open ''story-telling'' style. Walt personally coaches more than 50 salespeople across the country on how to achieve their sales goals and personal dreams.</p>  '
WHERE   idUser = 18308
UPDATE  presenter
SET     BiographyLong = '<p><img class="alignleft" src="/content/images/presenters/Appelbaum.jpg" alt="Photo of Laurie  Appelbaum" />Laurie Appelbaum is a highly-focused and goal-oriented leader who is extremely energetic and outgoing. Possessing over 15 years of training, management, strategic planning, communications and conference development experience, she is a creative motivator with exceptional business acumen.</p><p>Laurie has a unique ability to recognize an organization''s needs, helping them to strategize, brainstorm and identify business opportunities.  She will implement unique and on-target marketing, communications and advocacy programs to help ensure a positive return on your bottom line. </p><p>She possess a deep understanding of customer service, leadership, ACH Rules and Regulations, Fraud, Regulation E, and other payment-industry-related topics.</p><p>She obtained her Accredited ACH Professional (AAP) designation in 2002.</p>'
WHERE   idUser = 19383

PRINT '--==========--'
PRINT 'CU__PRESENTERS UPDATE COMPLETED'
PRINT '--==========--'

UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Pry.jpg'
WHERE   idUser = 24
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Shelton.jpg'
WHERE   idUser = 25
UPDATE  presenter
SET     photoThumb = ''
WHERE   idUser = 26
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/DiCara.jpg'
WHERE   idUser = 27
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Konarik.jpg'
WHERE   idUser = 28
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Brissette.jpg'
WHERE   idUser = 30
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Herrman.jpg'
WHERE   idUser = 32
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/laboda.jpg'
WHERE   idUser = 10563
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/AnnThomas.jpg '
WHERE   idUser = 10564
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/DanaSummer.jpg'
WHERE   idUser = 10565
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Gregg.jpg'
WHERE   idUser = 10566
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/McGuinn.jpg'
WHERE   idUser = 10567
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Crawford.jpg'
WHERE   idUser = 10568
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Waldorf.jpg'
WHERE   idUser = 10569
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Iles.jpg'
WHERE   idUser = 10570
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Fast.jpg'
WHERE   idUser = 10571
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/North.jpg'
WHERE   idUser = 10572
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Foltz.jpg'
WHERE   idUser = 10573
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Souther.jpg'
WHERE   idUser = 10574
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Gutiérrez.jpg'
WHERE   idUser = 10575
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Eagleton_DiNuzzo.jpg'
WHERE   idUser = 10576
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Turner.jpg'
WHERE   idUser = 10577
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Branch.jpg'
WHERE   idUser = 10578
UPDATE  presenter
SET     photoThumb = 'content/images/presenters/thumb/Abramowski_Gregg.jpg'
WHERE   idUser = 10579
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Johnson.jpg'
WHERE   idUser = 10580
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Wehrmeyer.jpg'
WHERE   idUser = 10581
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Burke.jpg'
WHERE   idUser = 10582
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Rechel.jpg'
WHERE   idUser = 10583
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Barrickman.jpg'
WHERE   idUser = 10584
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Oliver.jpg'
WHERE   idUser = 10585
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/nelson.jpg'
WHERE   idUser = 10586
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Reed.jpg'
WHERE   idUser = 10587
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Plantes.jpg'
WHERE   idUser = 10588
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Berke.jpg'
WHERE   idUser = 10589
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/DeMarino.jpg'
WHERE   idUser = 10590
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Trinkle.jpg'
WHERE   idUser = 10591
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Tyrpin.jpg'
WHERE   idUser = 10592
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Jane Paris.jpg'
WHERE   idUser = 10593
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Caldwell.jpg'
WHERE   idUser = 10594
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Percy.jpg'
WHERE   idUser = 10595
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Durbin.jpg'
WHERE   idUser = 10596
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Cashman.jpg'
WHERE   idUser = 10598
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Bruno.jpg'
WHERE   idUser = 10599
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Adler.jpg'
WHERE   idUser = 10600
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Peterson.jpg'
WHERE   idUser = 10601
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Morin.jpg'
WHERE   idUser = 10602
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Shapiro.jpg'
WHERE   idUser = 10603
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Becker.jpg'
WHERE   idUser = 10604
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Fink.jpg'
WHERE   idUser = 10605
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Lange.jpg'
WHERE   idUser = 10606
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Orr.jpg'
WHERE   idUser = 10607
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Allen.jpg'
WHERE   idUser = 10608
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/tthomas.jpg '
WHERE   idUser = 10609
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Flynn.jpg'
WHERE   idUser = 11114
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/lolley.jpg'
WHERE   idUser = 11158
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Vassallo.jpg'
WHERE   idUser = 12130
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/void.jpg'
WHERE   idUser = 12981
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Costonis.jpg'
WHERE   idUser = 14668
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/faquir.jpg'
WHERE   idUser = 15002
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Tinucci.jpg'
WHERE   idUser = 15050
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/TEvans.jpg'
WHERE   idUser = 15167
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/solomon.jpg'
WHERE   idUser = 16304
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/mccain.jpg'
WHERE   idUser = 16305
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/dowdy.jpg'
WHERE   idUser = 16323
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/kelly.jpg'
WHERE   idUser = 16913
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/pinkowish.jpg'
WHERE   idUser = 17349
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/demaio.jpg'
WHERE   idUser = 18053
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Nelson.jpg'
WHERE   idUser = 18273
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/JerrySmith.jpg'
WHERE   idUser = 18274
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Behringer.jpg'
WHERE   idUser = 18276
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Knight.jpg'
WHERE   idUser = 18277
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/SophieKelley.jpg'
WHERE   idUser = 18279
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Saber.jpg'
WHERE   idUser = 18281
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Gerano.jpg'
WHERE   idUser = 18308
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/na.jpg'
WHERE   idUser = 18309
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Appelbaum.jpg'
WHERE   idUser = 19383
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Fragapane.jpg'
WHERE   idUser = 21565
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/C_Crawford.jpg'
WHERE   idUser = 23860
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/blake.jpg'
WHERE   idUser = 24203
UPDATE  presenter
SET     photoThumb = '/content/images/presenters/thumb/Swartzberg.jpg'
WHERE   idUser = 24210