<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IeWebDriverPort" value="5556"/>
    <add key="ChromeWebDriverPort" value="9999"/>
    <add key="FirefoxBrowserPort" value="5556"/>
    <add key="ChromeWebDriverPath" value="E:\"/>
    <add key="IeWebDriverPath" value="E:\"/>
    <add key="FirefoxExePath" value="C:\Program Files (x86)\Mozilla Firefox\firefox.exe"/>
    <add key="Tenant" value="CUWebinars"/>
    <add key="HomeUrl" value="http://localhost:5556"/>
    <add key="MembershipNotificationsUrl" value="http://localhost:5556/MembershipNotificationOps/MembershipNotifications"/>
  </appSettings>
</configuration>