<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!--<add name="LoggerConnection" connectionString="Server=PLAGUIS\SQLSERVER2012;Initial Catalog=TTSDatabase;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=PLAGUIS\SQLSERVER2012;Initial Catalog=CUWebinars;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="MembershipReboot" connectionString="Data Source=PLAGUIS\SQLSERVER2012;Initial Catalog=MembershipReboot;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="LoggerConnection" connectionString="Server=.;Initial Catalog=TTSDatabase;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=CUWebinars;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="MembershipReboot" connectionString="Data Source=.;Initial Catalog=MembershipReboot;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="HomeUrl" value="http://www.gotomeeting.com/online/" />
    <!--<add key="HomeUrl" value="https://login.citrixonline.com/" />-->
    <add key="IeDriverPath" value="E:\" />
    <add key="FireFoxBinaryPath" value="C:\Program Files (x86)\Mozilla Firefox\firefox.exe"/>
    <add key="UserName" value="steve@ttstrain.com" />
    <add key="Password" value="si1wYhSJ" />
    <add key="WebinarId" value="400" />
    <add key="TemplateTitle" value="BaseLive Event Clone" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>