<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
  <add name="MembershipReboot" connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=MembershipReboot;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=CUWebinars;User Id=BW31Op@kmow9uloz6;Password=0dinBewH;" providerName="System.Data.SqlClient" />
    <add name="LoggerConnection" connectionString="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=TTSDatabase;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="HomeUrl" value="http://www.gotomeeting.com/online/" />
    <!--<add key="HomeUrl" value="https://login.citrixonline.com/" />-->
    <add key="IeDriverPath" value="E:\" />
    <add key="FireFoxBinaryPath" value="C:\Program Files (x86)\Mozilla Firefox\firefox.exe" />
    <!--<add key="UserName" value="steve@ttstrain.com" />
    <add key="Password" value="si1wYhSJ" />-->
    <add key="UserName" value="mbennett@ttstrain.com" />
    <add key="Password" value="ttstrain1" />
    <add key="WebinarId" value="400" />
    <add key="TemplateTitle" value="[test] BaseLive Event Clone" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>