<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bankwebinars31.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bankwebinars31.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BankWebinars31</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BankWebinars31</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MembershipReboot" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=MembershipReboot;User ID=TTSOp@kmow9uloz6;Password=EntRisR..E121114" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MembershipReboot_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:kmow9uloz6.database.windows.net,1433;Initial Catalog=MembershipReboot;User Id=TTSOp@kmow9uloz6;Password=EntRisR..E121114;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LoggerConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=TTSDatabase;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LoggerConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=.;Initial Catalog=TTSDatabase;Integrated Security=True;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LegacyConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=25.149.190.135;Initial Catalog=ttsWebinars2;Persist Security Info=True;User ID=EventsOp2;Password=&quot;this Old Horse22&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LegacyConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=25.149.190.135;Initial Catalog=ttsWebinars2;Persist Security Info=True;User ID=EventsOp2;Password=this Old Horse22;MultipleActiveResultSets=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RSSBUS_Affiliate" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="user=cftacs@bankwebinars.com;password=Hiscementisred;Keep Alive=False;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RSSBUS_Affiliate_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="user=cftacs@bankwebinars.com;password=Hiscementisred;Keep Alive=False;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="RSSBUS_Admin" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="user=registrations@bankwebinars.com;password=azza123A;Keep Alive=False;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RSSBUS_Admin_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="user=registrations@bankwebinars.com;password=azza123A;Keep Alive=False;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CUWebinars.Business.Models.TTSWebinarsContext, CUWebinars.Business" MigrationConfiguration="CUWebinars.Business.Migrations.Configuration, CUWebinars.Business" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LegacyConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LoggerConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MembershipReboot-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RSSBUS_Admin-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RSSBUS_Affiliate-Web.config Connection String" />
  </ItemGroup>
</Project>