<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bwdev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bwdev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BWDev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BWDev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LoggerConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:BW33.database.windows.net,1433;Initial Catalog=BW33_;User ID=BW33_Op@BW33_;Password=AM69XtlC" Name="Data Source=tcp:BW33.database.windows.net,1433;Initial Catalog=BW33_;User Id=BW33_Op@BW33_;Password=AM69XtlC" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-6R3NPN0\SQLEXPRESS;Initial Catalog=BW33;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LoggerConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DESKTOP-6R3NPN0\SQLEXPRESS;Initial Catalog=BW33;Integrated Security=True;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MembershipReboot" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:BW33.database.windows.net,1433;Initial Catalog=BW33_;User ID=BW33_Op@BW33_;Password=AM69XtlC" Name="Data Source=tcp:BW33.database.windows.net,1433;Initial Catalog=BW33_;User Id=BW33_Op@BW33_;Password=AM69XtlC" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-6R3NPN0\SQLEXPRESS;Initial Catalog=BW33;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MembershipReboot_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-6R3NPN0\SQLEXPRESS;Initial Catalog=BW33;Integrated Security=True;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:BW33.database.windows.net,1433;Initial Catalog=BW33_;User ID=BW33_Op@BW33_;Password=AM69XtlC" Name="Data Source=tcp:BW33.database.windows.net,1433;Initial Catalog=BW33_;User Id=BW33_Op@BW33_;Password=AM69XtlC" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CUWebinars.Business.Models.TTSWebinarsContext, CUWebinars.Business" MigrationConfiguration="CUWebinars.Business.Migrations.Configuration, CUWebinars.Business" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:BW33.database.windows.net,1433;Initial Catalog=BW33_;User Id=BW33_Op@BW33_;Password=AM69XtlC</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LoggerConnection-Web.config Connection String">
      <ParameterValue>data source=tcp:BW33.database.windows.net,1433;initial catalog=BW33_;user id=BW33_Op@BW33_;password=AM69XtlC;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MembershipReboot-Web.config Connection String">
      <ParameterValue>data source=tcp:BW33.database.windows.net,1433;initial catalog=BW33_;user id=BW33_Op@BW33_;password=AM69XtlC;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>